<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2><%= @cocktail.name %></h2>
      <ul>
      <% @cocktail.doses.all.each do |dose| %>
      <li><%= dose.description %> - <%= dose.ingredient.name %> - <%= link_to "Delete", cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Delete?" } %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <ul class="list-inline">
    <li><%= link_to "Add an Ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-success" %></li>
    <li><%= link_to "Delete this cocktail", @cocktail, method: :delete, data: { confirm: "Delete?" }, class: "btn btn-danger"  %></li>
  </ul>
</div>
